.mainpage {
    background: rgb(0,0,10);
    background: linear-gradient(90deg, rgba(0,0,10,1) 0%, rgba(0,10,10,1) 25%, rgba(20,41,44,1) 50%, rgba(0,0,10,1) 75%, rgba(0,0,10,1) 100%);
}

.uppertextcontainer {
    margin-left: 100px;
    margin-top: 68px;
    width: 372px;
    height: 43px;
    margin-left: 43.25%;
    margin-bottom: 50px;
}

.upper {
    color: white;
    font-size: 36px;
    font-weight: 800;
}

.maintextcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    width: 1666px;
    height: 85px;
    margin-top: 50px;
}

.maintext1 {
    margin-left: 160px;
    text-align: center;
    color: red;
    font-size: 36px;
    font-weight: 800;
}

.maintext1:hover {
    color: white;
    text-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 100px red;
}

.maintext2 {
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.mainlowertext {
    width: 1666px;
    height: 128px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.maintext3 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.iconbox {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.lowertext {
    display: block;
    text-align: center;
    width: 400px;
    height: 78px;
    font-weight: 700;
    font-size: 32px;
    color: #FBBB43;
    top: 0px;
    left: 0px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #5CDFE2;
    left: 50.5px;
}

.image {
    width: 150px;
    height: 150px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
   }

.linksbox {
    display: flex;
    height: 280px;
    width: 100%;
    align-items: center;
    margin-top: 113px;
}

.linksupport {
    margin-left: 40px;
}

.linkvk {
    width: 54px;
    height: 36px;
    margin-left: 40px;
}

.linktg {
    width: 36px;
    height: 36px;
    margin-left: 40px;
}

.linkyt {
    width: 55px;
    height: 55px;
    margin-left: 40px;
}

.uppericonbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uppericonbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 226px;
}

.uppercontainer {
    box-shadow: 0 0 5px #CEFFBD,
                0 0 25px #CEFFBD;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 5px solid #CEFFBD;
    border-radius: 51px;
    width: 423px;
    height: 181px;
    margin-left: 64.5px;
    margin-right: 64.5px;
    margin-bottom: 45px;
    margin-top: 300px;
}

.uppertext {
    position: absolute;
    text-shadow: 0 0 5px #CEFFBD,
                0 0 25px #CEFFBD;
    top: 65%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    width: 326px;
    height: 122px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #CCFFBA;
}

.dotaimg {
    display: flex;
    cursor: pointer;
    width: 461px;
    height: 536px;
    border-radius: 51px;
    margin-right: 43.5px;
    margin-top: 25px;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.dotaimg:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.lolimg {
    display: flex;
    cursor: pointer;
    width: 461px;
    height: 536px;
    border-radius: 51px;
    margin-left: 43.5px;
    margin-top: 25px;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.lolimg:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
